<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContaLabel" jhiTranslate="finapplicationApp.conta.home.createOrEditLabel">Create or edit a Conta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!conta.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="conta.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="finapplicationApp.conta.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                [(ngModel)]="conta.descricao" required />
            <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="finapplicationApp.conta.saldoInicial" for="field_saldoInicial">Saldo Inicial</label>
            <input type="number" class="form-control" name="saldoInicial" id="field_saldoInicial"
                [(ngModel)]="conta.saldoInicial" required />
            <div [hidden]="!(editForm.controls.saldoInicial?.dirty && editForm.controls.saldoInicial?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.saldoInicial?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.saldoInicial?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="finapplicationApp.conta.tipoConta" for="field_tipoConta">Tipo Conta</label>
            <select class="form-control" id="field_tipoConta" name="tipoConta" [(ngModel)]="conta.tipoContaId">
                <option [ngValue]="null"></option>
                <option [ngValue]="tipoContaOption.id" *ngFor="let tipoContaOption of tipocontas; trackBy: trackTipoContaById">{{tipoContaOption.descricao}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
